<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="ICAStoreDBConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=ICAStore;Connection Timeout=5;Password=Login8!;User=user8;" />
	</connectionStrings>
</configuration>